<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <meta name="robots" content="noindex, nofollow, noarchive">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
    </header>
    <main>
        <div class="content">
            <div class="blog-entries">
	      {% for post in site.posts %}
	      {% assign columns_count = post.columns_content | size %}
	      {% assign columns_class = columns_count | append: '-columns' %}
	      <div class="blog-entry {{ columns_class }}">
                <div class="entry-header">
                  <h2 id="{{ post.url | slugify }}">{{ post.title }}</h2>
                  <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
                </div>
		<div class="column-container" style="grid-template-columns: repeat({{ columns_count }}, 1fr);">
		  {% for column in post.columns_content %}
		  <div class="column">
		    <h3>{{ column.title }}</h3>
		    {{ column.content | markdownify }}
		  </div>
		  {% endfor %}
		</div>
	      </div>
	      {% endfor %}
            </div>
            <aside class="toc">
                <h2>Table of Contents</h2>
                <ul>
                    {% for post in site.posts %}
                    <li><a href="#{{ post.url | slugify }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </main>
    <footer>
      <p>© 2024 Your Name. All rights reserved.</p>
      <p>Commit Hash: {{ site.github.build_revision }}</p>
    </footer>
</body>
</html>
